<ion-card class="single-post-home">
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="post?.user?.image">
    </ion-avatar>

    <ion-label>
      <h2 class="name">{{ post?.user?.name }}</h2>
      <h6 class="location">{{ post?.location }}</h6>
    </ion-label>

    <ion-note slot="end">
      <actions-alert-button></actions-alert-button>
    </ion-note>
  </ion-item>

  <img [src]="post?.image">
  <ion-card-content>

    <div class="action-row">
      <ion-button slot="icon-only" fill="clear" shape="round" (click)="update()">
        <ion-icon name="heart-outline" *ngIf="!post.liked_by_auth_user"></ion-icon>
        <ion-icon name="heart" color="danger" *ngIf="post.liked_by_auth_user"></ion-icon>

        <!-- <ion-icon name="heart" color="primary"></ion-icon> -->
      </ion-button>

      <ion-button slot="icon-only" fill="clear" shape="round" (click)="showModal()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>

    </div>

    <div>
      <b> {{ post.likes.length }} Likes </b>
    </div>

    <div class="desc-row">
      <a href="" class="name-ref">{{ post?.user?.name }}</a>
      <span class="description">{{ post.description }}</span>
    </div>

    <div class="show-comments" *ngIf="post.comments.length" (click)="showModal()">
      <ion-text color="medium">
        View all {{ post.comments.length }} comments
      </ion-text>
    </div>

  </ion-card-content>
</ion-card>