.username {
    font-weight: 600;
}

.comment-text {
    color: #000;
    margin: 6px 0;
    white-space: break-spaces;
}

.post-btn {
    align-self: center;
}

ion-textarea {
    font-size: 0.9em;
}