
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ title | titlecase }}</ion-title>

    <ion-buttons slot="end">
      <ion-button shape="round" fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item detail="false" *ngFor="let user of users">
      
   

        <ion-avatar slot="start">
          <img [src]="user.image" default="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

      <ion-label>
        <b>{{ user.username }}</b>
        <p>{{ user.name }}</p>
      </ion-label>

      <ion-button slot="end">
        Follow
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>