ion-label h2 {
  font-weight: bold !important;
}

.side-menu{
  --background: var(--ion-color-light);
  background: var(--ion-color-light);

  ion-list, ion-item {
    --background: var(--ion-color-light);
    background: var(--ion-color-light);
  }
}
