
ion-button {
    --padding-start: 5px;
    --padding-end: 5px;
}

.main-wrapper {
    max-width: 600px;
    width: 100%;
    margin: auto;
    position: relative;
    height: 100vh;
}

ion-tabs {
    position:absolute;
}