<ion-header #header>
  <ion-toolbar color="tertiary">

    <ion-title>
      <!-- <ion-icon name="logo-instagram"></ion-icon> -->
      <span>Instagram Clone</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header">
  <!-- this is where the posts will be -->
  <app-post *ngFor="let post of posts" [post]="post" (refresh)="refresh()"></app-post>


  <ion-infinite-scroll (ionInfinite)="load()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>